name: Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Deploy PhilNITS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project (static export)
        run: npm run build

      - name: Upload static site (/out)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DCISM_HOST }}
          username: ${{ secrets.DCISM_EMAIL }}
          password: ${{ secrets.DCISM_PASSWORD }}
          port: ${{ secrets.DCISM_PORT }}
          source: "out/*"
          target: "~/philnits.dcism.org/"
          overwrite: true
